<html>
    <head>
        <title>Coffee</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',
        filename ='w3.css')}}">
    </head>
    <body>
        <h3 style="color: red">Các địa điểm quanh nhà thờ Đức Bà</h3>
        <div class="w3-container">
        <div>
            <form method="POST">
                <label for="radius">Radius</label>
                <input type="text" name="radius"/>
                <select name="types">
                    <option value="cafe" >Cafe</option>
                    <option value="bakery" >Bakery</option>
                    <option value="book_store" >Book Store</option>
                    <option value="atm" >ATM</option>
                </select>
                <button type="submit">Find</button>
            </form>
        </div>
        </div>
        <div class="w3-container">
            <table>
                <thead>
                    <tr class="w3-red">
                        <th>Tên quán</th>
                        <th>Rating</th>
                        <th>Địa chỉ</th>
                    </tr>
                </thead>

                <tbody>
                {% for data in coffee %}
                    <tr>
                        <td>{{ data['name'] }}</td>
                        <td>{{ data['rating'] }}</td>
                        <td><a style="text-decoration: None" href="{{
                        url_for("coffee", id=data["place_id"])}}">{{ data["vicinity"] }}</a></td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
